/image.png
/kafkacon
bank_marketcap.json
exchange_rates_1.csv
INSTRUCTOR.db
INSTRUCTOR.db-journal
RealWorldData.db
sales_prediction.model/data/_SUCCESS
sales_prediction.model/data/._SUCCESS.crc
sales_prediction.model/data/.part-00000-1db9fe2f-4d93-4b1f-966b-3b09e72d664e-c000.snappy.parquet.crc
sales_prediction.model/data/part-00000-1db9fe2f-4d93-4b1f-966b-3b09e72d664e-c000.snappy.parquet
sales_prediction.model/metadata/_SUCCESS
sales_prediction.model/metadata/._SUCCESS.crc
sales_prediction.model/metadata/.part-00000.crc
sales_prediction.model/metadata/part-00000
searchterms.csv
mlmodel.tar.gz
Python_Kafka_Airflow_Postgres/.env
Python_Kafka_Airflow_Postgres/config.ini
Python_Kafka_Airflow_Postgres/src/config.ini
Python_Kafka_Airflow_Postgres/weather_project/src/__pycache__
Python_Kafka_Airflow_Postgres/weather_project/__pycache__
Python_Kafka_Airflow_Postgres/weather_project/utils/__pycache__


Python_Kafka_Airflow_Postgres/weather_project/__pycache__/fetch_n_publish.cpython-310.pyc
Python_Kafka_Airflow_Postgres/weather_project/src/__pycache__/api_call.cpython-310.pyc
Python_Kafka_Airflow_Postgres/weather_project/src/__pycache__/settings.cpython-310.pyc
Python_Kafka_Airflow_Postgres/weather_project/src/__pycache__/settings.cpython-310.pyc
Python_Kafka_Airflow_Postgres/weather_project/src/__pycache__/settings.cpython-310.pyc
Python_Kafka_Airflow_Postgres/weather_project/src/__pycache__/api_call.cpython-310.pyc
Python_Kafka_Airflow_Postgres/weather_project/utils/__pycache__
Python_Kafka_Airflow_Postgres/weather_project/utils/__pycache__/api_call.cpython-310.pyc
Python_Kafka_Airflow_Postgres/weather_project/utils/__pycache__/postgres.cpython-310.pyc

Python_Kafka_Airflow_Postgres/weather_project/utils/__pycache__/api_call.cpython-310.pyc
Python_Kafka_Airflow_Postgres/weather_project/utils/__pycache__/api_call.cpython-310.pyc
Python_Kafka_Airflow_Postgres/weather_project/utils/__pycache__/settings.cpython-310.pyc
Python_Kafka_Airflow_Postgres/weather_project/utils/__pycache__/util.cpython-310.pyc
catalog.json
electronics.csv
partial_data.csv
CapstoneProject_readme.pdf
datadump.sh
json_csv/exported_data.json
json_csv/movies_gut.json
json_csv/movies.json
json_csv/oltpdata.csv
json_csv/people.json
json_csv/people2.json
json_csv/sales_data.csv
misc scripts/Python Cheat Sheet - The Basics Coursera.pdf
misc scripts/sales_data.sql
misc scripts/exportedsql.sql
